* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #e7d6a3;
    color: #000000;
    padding-top: 80px;
    transition: all 0.5s;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b89d65;
    color: rgb(0, 0, 0);
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: rgb(255, 240, 190);
}

#about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px;
}

.project {
    background: rgb(255, 231, 165);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
    background: #facf71;
}

.skill {
    background: rgb(255, 238, 191);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.skill:hover {
    transform: scale(1.05);
    background: #facf71;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#contact input, #contact textarea, #contact button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #b89d65;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
}

.description{
    list-style-type: none;
}

.titre{
    text-align: center;
}

#about{
    transition: transform 0.3s ease-in-out;
}

#projects{
    transition: transform 0.3s ease-in-out;
}

#skills{
    transition: transform 0.3s ease-in-out;
}

#contact{
    transition: transform 0.3s ease-in-out;
}

.text{
    background-color: #fdf0c4;
}
.email{
    background-color: #fdf0c4;
}
.votre_message{
    background-color: #fdf0c4;
}

@media (max-width: 768px) {
    #about{
        flex-direction: column;
        text-align: center;
    }

    #about img{
        margin-bottom: 20px;
    }

    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, lfr));
    }

    .mon-nom{
        size: 1;
    }
    
    header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        font-size: small;
    }
}
